{
  "openapi": "3.1.0",
  "info": {
    "title": "OSS-register API v1",
    "version": "1.0.0",
    "contact": {
      "email": "developer.overheid@geonovum.nl",
      "name": "Team developer.overheid.nl",
      "url": "https://github.com/developer-overheid-nl/don-oss-register/issues"
    },
    "description": "API to access the OSS register of developer.overheid.nl.\n\n## Auth\n\nThis API distinguishes between public and private endpoints.\nPublic endpoints can be accessed with either an API key or a client credentials token.\nPrivate endpoints can only be accessed with a client credentials token.\n\n### API key\n\nUsing an API key, you can access all public endpoints of the API register.\nThese requests can also be made from the browser.\nRequest a read-only API key at https://apis.developer.overheid.nl/apis/key-aanvragen.\nSimply pass the obtained API key with each request using the `X-Api-Key` header.\n\n### Client credentials token\n\nUsing a client credentials token, you can access both public and private endpoints of the OSS register.\nTo obtain the token, you need to perform a `POST` request to `https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token` with the following Form URL Encoded body:\n- `grant_type`: `client_credentials`\n- `scope`: depending on the access you need and the client you are, you can request one or more of the following scopes:\n  - `repositories:read`\n  - `repositories:write`\n  - `gitOrganisations:read`\n  - `gitOrganisations:write`\n  - `organisations:read`\n  - `organisations:write`\n- `client_id`: the client id you received from us\n- `client_secret`: the client secret you received from us\n\nPass the obtained token with each request using the `Authorization` header. Example:\n\n`Authorization`: `Bearer {ACCESS_TOKEN}` (replace `{ACCESS_TOKEN}` with the obtained `access_token`)\n\n## Pagination\n\nPagination of collections is done using the `Link` header.\nThere are various libraries available (such as [parse-link-header](https://www.npmjs.com/package/parse-link-header) for Javascript) that can parse this header.\nAdditionally, the following headers provide extra support for implementing pagination in the client:\n- `Current-Page`: the current page in the collection\n- `Per-Page`: the number of items per page\n- `Total-Count`: the total number of items\n- `Total-Pages`: the total number of pages\n"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.developer.overheid.nl/oss-register/v1"
    },
    {
      "description": "Test",
      "url": "https://api.don.apps.digilab.network/oss-register/v1"
    }
  ],
  "security": [
    {
      "clientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "Repositories",
      "description": "Endpoints for listing and managing repositories."
    },
    {
      "name": "Organisations",
      "description": "Endpoints for listing and managing organisations."
    },
    {
      "name": "Git organisations",
      "description": "Endpoints for listing and managing git organisations."
    },
    {
      "name": "Public endpoints",
      "description": "Public endpoints, accessible with an API key or client credentials token."
    },
    {
      "name": "Private endpoints",
      "description": "Private endpoints of the API register, accessible with a client credentials token."
    }
  ],
  "paths": {
    "/git-organisations": {
      "get": {
        "tags": ["Public endpoints", "Git organisations"],
        "summary": "List git organisations",
        "description": "Returns a list of git organisations that are included in the register.",
        "operationId": "listGitOrganisations",
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          { "$ref": "#/components/parameters/OrganisationFilter" }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" },
              "Link": { "$ref": "#/components/headers/Link" },
              "Total-Count": { "$ref": "#/components/headers/TotalCount" },
              "Current-Page": { "$ref": "#/components/headers/CurrentPage" },
              "Per-Page": { "$ref": "#/components/headers/PerPage" },
              "Total-Pages": { "$ref": "#/components/headers/TotalPages" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GitOrganisation"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "tags": ["Private endpoints", "Git organisations"],
        "summary": "Create git organisation",
        "description": "Register a new git organisation in the register.",
        "operationId": "createGitOrganisation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitOrganisationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitOrganisation"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "security": [
          {
            "clientCredentials": ["gitOrganisations:write"]
          }
        ]
      }
    },
    "/repositories/filters": {
      "get": {
        "tags": ["Public endpoints", "Repositories"],
        "summary": "List repository filter options",
        "description": "Returns all available filter options with counts per option. Counts are computed using faceted search: each filter group ignores its own active filter but applies all others, so counts always reflect realistic results.",
        "operationId": "listRepositoryFilters",
        "parameters": [
          { "$ref": "#/components/parameters/OrganisationFilter" },
          { "$ref": "#/components/parameters/PublicCodeFilter" },
          { "$ref": "#/components/parameters/LastActivityAfterFilter" },
          { "$ref": "#/components/parameters/SoftwareTypeFilter" },
          { "$ref": "#/components/parameters/DevelopmentStatusFilter" },
          { "$ref": "#/components/parameters/MaintenanceTypeFilter" },
          { "$ref": "#/components/parameters/PlatformsFilter" },
          { "$ref": "#/components/parameters/AvailableLanguagesFilter" },
          { "$ref": "#/components/parameters/LicenseFilter" }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilterGroup"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "security": [
          {
            "clientCredentials": ["repositories:read"]
          }
        ]
      }
    },
    "/repositories": {
      "get": {
        "tags": ["Public endpoints", "Repositories"],
        "summary": "List repositories",
        "description": "Returns a list of OSS repositories included in the register. Supports the same filter query parameters as the repository filter endpoint.",
        "operationId": "listRepositories",
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          { "$ref": "#/components/parameters/OrganisationFilter" },
          { "$ref": "#/components/parameters/PublicCodeFilter" },
          { "$ref": "#/components/parameters/LastActivityAfterFilter" },
          { "$ref": "#/components/parameters/SoftwareTypeFilter" },
          { "$ref": "#/components/parameters/DevelopmentStatusFilter" },
          { "$ref": "#/components/parameters/MaintenanceTypeFilter" },
          { "$ref": "#/components/parameters/PlatformsFilter" },
          { "$ref": "#/components/parameters/AvailableLanguagesFilter" },
          { "$ref": "#/components/parameters/LicenseFilter" }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" },
              "Link": { "$ref": "#/components/headers/Link" },
              "Total-Count": { "$ref": "#/components/headers/TotalCount" },
              "Current-Page": { "$ref": "#/components/headers/CurrentPage" },
              "Per-Page": { "$ref": "#/components/headers/PerPage" },
              "Total-Pages": { "$ref": "#/components/headers/TotalPages" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RepositorySummary"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "tags": ["Private endpoints", "Repositories"],
        "summary": "Create repository",
        "description": "Register a new OSS repository in the register.",
        "operationId": "createRepository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryDetail"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "security": [
          {
            "clientCredentials": ["repositories:write"]
          }
        ]
      }
    },
    "/repositories/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/ResourceId" }
      ],
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": ["repositories:read"]
          }
        ],
        "tags": ["Public endpoints", "Repositories"],
        "summary": "Get repository by id",
        "description": "Returns a single OSS repository by id.",
        "operationId": "getRepositoryById",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryDetail"
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "security": [
          {
            "clientCredentials": ["repositories:write"]
          }
        ],
        "tags": ["Private endpoints", "Repositories"],
        "summary": "Specifieke repository updaten",
        "description": "Specifieke repository updaten",
        "operationId": "updateRepository",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryDetail"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/organisations": {
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": ["organisations:read"]
          }
        ],
        "tags": ["Public endpoints", "Organisations"],
        "summary": "List organisations",
        "description": "List organisations",
        "operationId": "listOrganisations",
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" },
              "Link": { "$ref": "#/components/headers/Link" },
              "Total-Count": { "$ref": "#/components/headers/TotalCount" },
              "Current-Page": { "$ref": "#/components/headers/CurrentPage" },
              "Per-Page": { "$ref": "#/components/headers/PerPage" },
              "Total-Pages": { "$ref": "#/components/headers/TotalPages" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganisationSummary"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ]
      },
      "post": {
        "security": [
          {
            "clientCredentials": ["organisations:write"]
          }
        ],
        "tags": ["Private endpoints", "Organisations"],
        "summary": "Create organisation",
        "description": "Create a new organisation.",
        "operationId": "createOrganisation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisationSummary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" }
            },
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisationSummary"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/repositories/_search": {
      "get": {
        "tags": ["Public endpoints", "Repositories"],
        "summary": "Search repositories",
        "description": "Returns a list of OSS repositories included in the register.",
        "operationId": "searchRepositories",
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          { "$ref": "#/components/parameters/OrganisationFilter" },
          { "$ref": "#/components/parameters/SearchQuery" }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": { "$ref": "#/components/headers/APIVersion" },
              "Link": { "$ref": "#/components/headers/Link" },
              "Total-Count": { "$ref": "#/components/headers/TotalCount" },
              "Current-Page": { "$ref": "#/components/headers/CurrentPage" },
              "Per-Page": { "$ref": "#/components/headers/PerPage" },
              "Total-Pages": { "$ref": "#/components/headers/TotalPages" }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RepositorySummary"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (1-based).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PerPage": {
        "name": "perPage",
        "in": "query",
        "required": false,
        "description": "Number of results per page.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "OrganisationFilter": {
        "name": "organisation",
        "in": "query",
        "required": false,
        "description": "Filter by organisation URI.",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "PublicCodeFilter": {
        "name": "publiccode",
        "in": "query",
        "required": false,
        "description": "Filter on publiccode.yaml presence. true: only repositories with a publiccode.yaml URL. Omit or set false for all repositories.",
        "schema": {
          "type": "boolean"
        }
      },
      "LastActivityAfterFilter": {
        "name": "lastActivityAfter",
        "in": "query",
        "required": false,
        "description": "Filter by last activity date. Format: ISO 8601 (yyyy-MM-dd).",
        "schema": {
          "type": "string",
          "format": "date",
          "example": "2026-01-01"
        }
      },
      "SoftwareTypeFilter": {
        "name": "softwareType",
        "in": "query",
        "required": false,
        "description": "Filter by software type. Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "DevelopmentStatusFilter": {
        "name": "developmentStatus",
        "in": "query",
        "required": false,
        "description": "Filter by development status. Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "MaintenanceTypeFilter": {
        "name": "maintenanceType",
        "in": "query",
        "required": false,
        "description": "Filter by maintenance type. Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "PlatformsFilter": {
        "name": "platforms",
        "in": "query",
        "required": false,
        "description": "Filter by platform. Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "AvailableLanguagesFilter": {
        "name": "availableLanguages",
        "in": "query",
        "required": false,
        "description": "Filter by available language (ISO 639-1). Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "LicenseFilter": {
        "name": "license",
        "in": "query",
        "required": false,
        "description": "Filter by license (SPDX identifier). Repeatable for multiple values.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the resource.",
        "schema": {
          "type": "string"
        }
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "required": true,
        "description": "Search term.",
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "APIVersion": {
        "description": "Semver of this API",
        "schema": {
          "type": "string",
          "example": "1.0.0",
          "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
          "externalDocs": {
            "description": " /core/version-header: Return the full version number in a response header",
            "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
          }
        }
      },
      "Link": {
        "description": "Links to the previous, next, last or first pages",
        "schema": {
          "type": "string",
          "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
          "externalDocs": {
            "description": "W3C reference",
            "url": "https://www.w3.org/wiki/LinkHeader"
          }
        }
      },
      "TotalCount": {
        "description": "Total number of items available",
        "schema": {
          "type": "integer",
          "example": 124
        }
      },
      "CurrentPage": {
        "description": "Current page number",
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "PerPage": {
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "TotalPages": {
        "description": "Total number of pages available",
        "schema": {
          "type": "integer",
          "example": 13
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "headers": {
          "API-Version": {
            "$ref": "#/components/headers/APIVersion"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemJson"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource does not exist",
        "headers": {
          "API-Version": {
            "$ref": "#/components/headers/APIVersion"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemJson"
            }
          }
        }
      }
    },
    "schemas": {
      "ProblemJson": {
        "title": "Problem JSON",
        "description": "Problem JSON schema representing errors and status code",
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
            "example": 400
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type",
            "example": "Request validation failed"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "List of errors encountered during processing",
              "properties": {
                "in": {
                  "type": "string",
                  "description": "Location of the error (e.g., body, query, header)",
                  "enum": ["body", "query"]
                },
                "location": {
                  "type": "string",
                  "description": "Location in the document where the error occurred (JSON Pointer)",
                  "example": "#/foo[0]/bar"
                },
                "code": {
                  "type": "string",
                  "description": "A code representing the type of error",
                  "example": "date.format"
                },
                "detail": {
                  "type": "string",
                  "description": "A detailed message describing the error",
                  "example": "must be ISO 8601"
                }
              },
              "required": ["in", "location", "code", "detail"]
            }
          }
        },
        "required": ["status", "title"]
      },
      "ResourceUuid": {
        "type": "string",
        "format": "uuid",
        "readOnly": true
      },
      "OrganisationUri": {
        "title": "Organisation URI",
        "description": "The unique identifier for an organisation",
        "type": "string",
        "format": "uri",
        "example": "https://developer.overheid.nl"
      },
      "GitOrganisationUrl": {
        "title": "Git organisation URI",
        "description": "URL of the git organisation",
        "type": "string",
        "format": "uri",
        "example": "https://github.com/developer-overheid-nl"
      },
      "RepositoryUrl": {
        "type": "string",
        "format": "uri",
        "description": "URL of the source code repository.",
        "example": "https://github.com/developer-overheid-nl/don-site"
      },
      "PublicCodeUrl": {
        "type": "string",
        "description": "URL of publiccode.yaml in the repository."
      },
      "RepositoryShortDescription": {
        "type": "string",
        "description": "Description of the repository from the git hosting (e.g. the repository description). Used as a fallback when no publiccode.yaml is available."
      },
      "RepositoryName": {
        "type": "string",
        "description": "Name of the repository from the git hosting. Used as a fallback when no publiccode.yaml is available."
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time",
        "readOnly": true
      },
      "LastCrawledAt": {
        "type": "string",
        "format": "date-time",
        "readOnly": true
      },
      "LastActivityAt": {
        "type": "string",
        "format": "date-time"
      },
      "OrganisationSummary": {
        "title": "Organisation summary",
        "description": "An organisation from the catalog",
        "type": "object",
        "properties": {
          "uri": {
            "$ref": "#/components/schemas/OrganisationUri"
          },
          "label": {
            "description": "The label of the organisation",
            "type": "string",
            "example": "developer.overheid.nl"
          }
        },
        "required": ["uri", "label"]
      },
      "GitOrganisationInput": {
        "title": "Git Organisation Input",
        "description": "A git organisation input for creating or updating a git organisation in the catalog",
        "type": "object",
        "properties": {
          "organisationUri": {
            "$ref": "#/components/schemas/OrganisationUri"
          },
          "url": {
            "$ref": "#/components/schemas/GitOrganisationUrl"
          }
        }
      },
      "GitOrganisation": {
        "title": "GitOrganisation",
        "description": "A git organisation from the catalog",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceUuid"
          },
          "organisation": {
            "$ref": "#/components/schemas/OrganisationSummary"
          },
          "url": {
            "$ref": "#/components/schemas/GitOrganisationUrl"
          }
        },
        "required": ["id", "organisation", "url"]
      },
      "RepositorySummary": {
        "title": "Repository",
        "description": "An OSS repository from the catalog",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceUuid"
          },
          "url": {
            "$ref": "#/components/schemas/RepositoryUrl"
          },
          "organisation": {
            "$ref": "#/components/schemas/OrganisationSummary"
          },
          "publicCodeUrl": {
            "$ref": "#/components/schemas/PublicCodeUrl"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/RepositoryShortDescription"
          },
          "name": {
            "$ref": "#/components/schemas/RepositoryName"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "lastCrawledAt": {
            "$ref": "#/components/schemas/LastCrawledAt"
          },
          "lastActivityAt": {
            "$ref": "#/components/schemas/LastActivityAt",
            "readOnly": true
          }
        }
      },
      "RepositoryInput": {
        "title": "Repository input",
        "description": "A repository input for creating or updating a repository in the catalog",
        "type": "object",
        "properties": {
          "url": {
            "$ref": "#/components/schemas/RepositoryUrl"
          },
          "organisationUri": {
            "$ref": "#/components/schemas/OrganisationUri"
          },
          "publicCodeUrl": {
            "$ref": "#/components/schemas/PublicCodeUrl"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/RepositoryShortDescription"
          },
          "name": {
            "$ref": "#/components/schemas/RepositoryName"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "lastCrawledAt": {
            "$ref": "#/components/schemas/LastCrawledAt"
          },
          "lastActivityAt": {
            "$ref": "#/components/schemas/LastActivityAt"
          }
        }
      },
      "RepositoryDetail": {
        "title": "Repository detail",
        "description": "A detailed OSS repository from the catalog",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RepositorySummary"
          },
          {
            "type": "object",
            "properties": {
              "publicCode": {
                "$ref": "#/components/schemas/PublicCode"
              },
              "longDescription": {
                "type": "string",
                "description": "Long description of the repository, typically from publiccode.yaml."
              }
            }
          }
        ]
      },
      "FilterOption": {
        "type": "object",
        "description": "A single option within a multi-select filter group.",
        "required": ["value", "label", "count", "selected"],
        "properties": {
          "value": {
            "type": "string",
            "description": "The filter value to pass as a query parameter."
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the option."
          },
          "description": {
            "type": ["string", "null"],
            "description": "Optional description of the filter value."
          },
          "count": {
            "type": "integer",
            "description": "Number of repositories matching this option, given the other active filters."
          },
          "selected": {
            "type": "boolean",
            "description": "Whether this option is currently selected."
          }
        }
      },
      "FilterGroup": {
        "type": "object",
        "description": "A filter group with metadata and available options or current value.",
        "required": ["key", "label", "description", "type"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique key of the filter group, matching the query parameter name.",
            "example": "softwareType"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the filter group."
          },
          "description": {
            "type": "string",
            "description": "Description of what this filter does."
          },
          "type": {
            "type": "string",
            "enum": ["toggle", "date", "multi-select", "single-select"],
            "description": "Filter type. toggle: on/off switch. date: date input (ISO 8601). multi-select: multiple values selectable. single-select: one value selectable from a list."
          },
          "value": {
            "oneOf": [
              {"type": "boolean"},
              {"type": "string"}
            ],
            "description": "Current filter value. For toggle: boolean true or false. For date: ISO 8601 date (yyyy-MM-dd). Not present for multi-select."
          },
          "count": {
            "type": ["integer", "null"],
            "description": "For toggle filters, the number of repositories that would match when the toggle is enabled (value true), regardless of the current value. For date filters, the number of repositories matching the current date value; only present when a date is set. Not present for multi-select."
          },
          "options": {
            "type": "array",
            "description": "Available options with counts. Only present for multi-select type.",
            "items": {
              "$ref": "#/components/schemas/FilterOption"
            }
          }
        }
      },
      "PublicCode": {
        "type": "object",
        "description": "Mandatory and conditionally mandatory fields extracted from publiccode.yml v0.5.0.",
        "additionalProperties": false,
        "properties": {
          "publiccodeYmlVersion": {
            "type": "string",
            "description": "Version of the publiccode.yml schema.",
            "enum": [
              "0",
              "0.2",
              "0.2.0",
              "0.2.1",
              "0.2.2",
              "0.3",
              "0.3.0",
              "0.4",
              "0.4.0",
              "0.5",
              "0.5.0"
            ]
          },
          "name": {
            "type": "string",
            "description": "Software name from publiccode.yml."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Repository or project URL from publiccode.yml."
          },
          "platforms": {
            "type": "array",
            "description": "Supported platforms.",
            "items": {
              "type": "string"
            }
          },
          "developmentStatus": {
            "type": "string",
            "description": "Development status from publiccode.yml.",
            "enum": ["concept", "development", "beta", "stable", "obsolete"]
          },
          "softwareType": {
            "type": "string",
            "description": "Software type from publiccode.yml.",
            "enum": [
              "standalone/mobile",
              "standalone/iot",
              "standalone/desktop",
              "standalone/web",
              "standalone/backend",
              "standalone/other",
              "addon",
              "library",
              "configurationFiles"
            ]
          },
          "legal": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "license": {
                "type": "string",
                "description": "SPDX license expression."
              }
            },
            "required": ["license"]
          },
          "description": {
            "type": "object",
            "description": "Localized description blocks keyed by language tag.",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "shortDescription": {
                  "type": "string",
                  "maxLength": 150
                },
                "longDescription": {
                  "type": "string",
                  "minLength": 150,
                  "maxLength": 10000
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": ["shortDescription"]
            }
          },
          "maintenance": {
            "description": "This section provides information on the maintenance status of the software, useful to evaluate whether the software is actively developed or not.",
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": ["internal", "contract", "community", "none"]
              },
              "contacts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": ["name"]
                }
              },
              "contractors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "until": {
                      "type": "string",
                      "format": "date"
                    }
                  },
                  "required": ["name", "until"]
                }
              }
            },
            "required": ["type"]
          },
          "localisation": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "localisationReady": {
                "type": "boolean"
              },
              "availableLanguages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": ["localisationReady", "availableLanguages"]
              },
              "organisation": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "uri": {
                    "$ref": "#/components/schemas/OrganisationUri"
                  }
                },
                "required": ["uri"]
          },
          "dependsOn": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "open": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": ["name"]
                }
              },
              "proprietary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": ["name"]
                }
              },
              "hardware": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": ["name"]
                }
              }
            }
          },
          "fundedBy": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "publiccodeYmlVersion",
          "name",
          "url",
          "platforms",
          "developmentStatus",
          "softwareType",
          "description",
          "legal",
          "maintenance",
          "localisation"
        ]
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header",
        "description": "Read-only API keys for public endpoints can be requested at https://apis.developer.overheid.nl/apis/key-aanvragen."
      },
      "clientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "apis:read": "Read access to APIs",
              "apis:write": "Write access to APIIs",
              "organisations:read": "Read access to organisations",
              "organisations:write": "Write access to organisations",
              "tools": "Access to tools",
              "repositories:read": "Read access to repositories",
              "repositories:write": "Write access to repositories",
              "gitOrganisations:read": "Read access to git organisations",
              "gitOrganisations:write": "Write access to git organisations"
            },
            "tokenUrl": "https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token"
          }
        }
      }
    }
  }
}
