{
  "openapi": "3.1.0",
  "info": {
    "title": "OSS-register API v1",
    "version": "1.0.0",
    "contact": {
      "email": "developer.overheid@geonovum.nl",
      "name": "Team developer.overheid.nl",
      "url": "https://github.com/developer-overheid-nl/don-oss-register/issues"
    },
    "description": "API to access the OSS register of developer.overheid.nl.\n\n## Auth\n\nThis API distinguishes between public and private endpoints.\nPublic endpoints can be accessed with either an API key or a client credentials token.\nPrivate endpoints can only be accessed with a client credentials token.\n\n### API key\n\nUsing an API key, you can access all public endpoints of the API register.\nThese requests can also be made from the browser.\nSimply pass the obtained API key with each request using the `X-Api-Key` header.\n\n### Client credentials token\n\nUsing a client credentials token, you can access both public and private endpoints of the OSS register.\nTo obtain the token, you need to perform a `POST` request to `https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token` with the following Form URL Encoded body:\n- `grant_type`: `client_credentials`\n- `scope`: depending on the access you need and the client you are, you can request one or more of the following scopes:\n  - `repositories:read`\n  - `repositories:write`\n  - `gitOrganisations:read`\n  - `gitOrganisations:write`\n  - `organisations:read`\n  - `organisations:write`\n- `client_id`: the client id you received from us\n- `client_secret`: the client secret you received from us\n\nPass the obtained token with each request using the `Authorization` header. Example:\n\n`Authorization`: `Bearer {ACCESS_TOKEN}` (replace `{ACCESS_TOKEN}` with the obtained `access_token`)\n\n## Pagination\n\nPagination of collections is done using the `Link` header.\nThere are various libraries available (such as [parse-link-header](https://www.npmjs.com/package/parse-link-header) for Javascript) that can parse this header.\nAdditionally, the following headers provide extra support for implementing pagination in the client:\n- `Current-Page`: the current page in the collection\n- `Per-Page`: the number of items per page\n- `Total-Count`: the total number of items\n- `Total-Pages`: the total number of pages\n"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.developer.overheid.nl/oss-register/v1"
    },
    {
      "description": "Test",
      "url": "https://api.don.apps.digilab.network/oss-register/v1"
    }
  ],
  "security": [
    {
      "clientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "Repositories",
      "description": "Endpoints for listing and managing repositories."
    },
    {
      "name": "Organisations",
      "description": "Endpoints for listing and managing organisations."
    },
    {
      "name": "Git organisations",
      "description": "Endpoints for listing and managing git organisations."
    },
    {
      "name": "Public endpoints",
      "description": "Public endpoints, accessible with an API key or client credentials token."
    },
    {
      "name": "Private endpoints",
      "description": "Private endpoints of the API register, accessible with a client credentials token."
    }
  ],
  "paths": {
    "/git-organisations": {
      "get": {
        "tags": [
          "Public endpoints",
          "Git organisations"
        ],
        "summary": "List git organisations",
        "description": "Geeft een lijst terug met git organisations die in het register zijn opgenomen.",
        "operationId": "listGitOrganisations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "organisation",
            "in": "query",
            "required": false,
            "description": "Filter on organisation URI.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              },
              "Link": {
                "description": "Links to the previous, next, last or first pages",
                "schema": {
                  "type": "string",
                  "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
                  "externalDocs": {
                    "description": "W3C reference",
                    "url": "https://www.w3.org/wiki/LinkHeader"
                  }
                }
              },
              "Total-Count": {
                "description": "Total number of items available",
                "schema": {
                  "type": "integer",
                  "example": 124
                }
              },
              "Current-Page": {
                "description": "Current page number",
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              },
              "Per-Page": {
                "description": "Number of items per page",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "Total-Pages": {
                "description": "Total number of pages available",
                "schema": {
                  "type": "integer",
                  "example": 13
                }
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/GitOrganisation.schema.json",
                    "title": "GitOrganisation",
                    "description": "A git organisation from the catalog",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                      },
                      "organisation": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationSummary.schema.json",
                        "title": "Organisation summary",
                        "description": "An organisation from the catalog",
                        "type": "object",
                        "properties": {
                          "uri": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "$id": "https://example.com/OrganisationUri.schema.json",
                            "title": "Organisation URI",
                            "description": "The unique identifier for an organisation",
                            "type": "string",
                            "format": "uri",
                            "examples": [
                              "https://developer.overheid.nl"
                            ]
                          },
                          "label": {
                            "description": "The label of the organisation",
                            "type": "string",
                            "examples": [
                              "developer.overheid.nl"
                            ]
                          }
                        },
                        "required": [
                          "uri",
                          "label"
                        ]
                      },
                      "url": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/GitOrganisationUrl.schema.json",
                        "title": "Git organisation URI",
                        "description": "URL of the git organisation",
                        "type": "string",
                        "format": "uri",
                        "examples": [
                          "https://github.com/developer-overheid-nl"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "organisation",
                      "url"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Private endpoints",
          "Git organisations"
        ],
        "summary": "Create git organisation",
        "description": "Registreer een nieuwe git organisatie in het register.",
        "operationId": "createGitOrganisation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "$id": "https://example.com/GitOrganisationInput.schema.json",
                "title": "Git Organisation Input",
                "description": "A git organisation input for creating or updating a git organisation in the catalog",
                "properties": {
                  "organisationUri": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/OrganisationUri.schema.json",
                    "title": "Organisation URI",
                    "description": "The unique identifier for an organisation",
                    "type": "string",
                    "format": "uri",
                    "examples": [
                      "https://developer.overheid.nl"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the git organisation.",
                    "example": "https://github.com/developer-overheid-nl"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/GitOrganisation.schema.json",
                  "title": "GitOrganisation",
                  "description": "A git organisation from the catalog",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true
                    },
                    "organisation": {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/OrganisationSummary.schema.json",
                      "title": "Organisation summary",
                      "description": "An organisation from the catalog",
                      "type": "object",
                      "properties": {
                        "uri": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "$id": "https://example.com/OrganisationUri.schema.json",
                          "title": "Organisation URI",
                          "description": "The unique identifier for an organisation",
                          "type": "string",
                          "format": "uri",
                          "examples": [
                            "https://developer.overheid.nl"
                          ]
                        },
                        "label": {
                          "description": "The label of the organisation",
                          "type": "string",
                          "examples": [
                            "developer.overheid.nl"
                          ]
                        }
                      },
                      "required": [
                        "uri",
                        "label"
                      ]
                    },
                    "url": {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/GitOrganisationUrl.schema.json",
                      "title": "Git organisation URI",
                      "description": "URL of the git organisation",
                      "type": "string",
                      "format": "uri",
                      "examples": [
                        "https://github.com/developer-overheid-nl"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "organisation",
                    "url"
                  ]
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "clientCredentials": [
              "gitOrganisations:write"
            ]
          }
        ]
      }
    },
    "/repositories": {
      "get": {
        "tags": [
          "Public endpoints",
          "Repositories"
        ],
        "summary": "List repositories",
        "description": "Geeft een lijst terug met OSS repositories die in het register zijn opgenomen.",
        "operationId": "listRepositories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "organisation",
            "in": "query",
            "required": false,
            "description": "Filter on organisation URI.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              },
              "Link": {
                "description": "Links to the previous, next, last or first pages",
                "schema": {
                  "type": "string",
                  "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
                  "externalDocs": {
                    "description": "W3C reference",
                    "url": "https://www.w3.org/wiki/LinkHeader"
                  }
                }
              },
              "Total-Count": {
                "description": "Total number of items available",
                "schema": {
                  "type": "integer",
                  "example": 124
                }
              },
              "Current-Page": {
                "description": "Current page number",
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              },
              "Per-Page": {
                "description": "Number of items per page",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "Total-Pages": {
                "description": "Total number of pages available",
                "schema": {
                  "type": "integer",
                  "example": 13
                }
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/Repository.schema.json",
                    "title": "Repository",
                    "description": "An OSS repository from the catalog",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL van de broncode repository.",
                        "examples": [
                          "https://github.com/developer-overheid-nl/don-site"
                        ]
                      },
                      "organisation": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationSummary.schema.json",
                        "title": "Organisation summary",
                        "description": "An organisation from the catalog",
                        "type": "object",
                        "properties": {
                          "uri": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "$id": "https://example.com/OrganisationUri.schema.json",
                            "title": "Organisation URI",
                            "description": "The unique identifier for an organisation",
                            "type": "string",
                            "format": "uri",
                            "examples": [
                              "https://developer.overheid.nl"
                            ]
                          },
                          "label": {
                            "description": "The label of the organisation",
                            "type": "string",
                            "examples": [
                              "developer.overheid.nl"
                            ]
                          }
                        },
                        "required": [
                          "uri",
                          "label"
                        ]
                      },
                      "publicCodeUrl": {
                        "type": "string",
                        "description": "Url van publiccode.yaml in de repository."
                      },
                      "shortDescription": {
                        "type": "string",
                        "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                      },
                      "name": {
                        "type": "string",
                        "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "lastCrawledAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Private endpoints",
          "Repositories"
        ],
        "summary": "Create repository",
        "description": "Registreer een nieuwe OSS repository in het register.",
        "operationId": "createRepository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "$id": "https://example.com/Repository.schema.json",
                "title": "Repository",
                "description": "An OSS repository from the catalog",
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL van de broncode repository.",
                    "examples": [
                      "https://github.com/developer-overheid-nl/don-site"
                    ]
                  },
                  "organisationUri": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/OrganisationSummary.schema.json",
                    "title": "Organisation summary",
                    "description": "An organisation from the catalog",
                    "type": "object",
                    "properties": {
                      "uri": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationUri.schema.json",
                        "title": "Organisation URI",
                        "description": "The unique identifier for an organisation",
                        "type": "string",
                        "format": "uri",
                        "examples": [
                          "https://developer.overheid.nl"
                        ]
                      },
                      "label": {
                        "description": "The label of the organisation",
                        "type": "string",
                        "examples": [
                          "developer.overheid.nl"
                        ]
                      }
                    },
                    "required": [
                      "uri",
                      "label"
                    ]
                  },
                  "publicCodeUrl": {
                    "type": "string",
                    "description": "Url van publiccode.yaml in de repository."
                  },
                  "shortDescription": {
                    "type": "string",
                    "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                  },
                  "name": {
                    "type": "string",
                    "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  },
                  "lastCrawledAt": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/Repository.schema.json",
                  "title": "Repository",
                  "description": "An OSS repository from the catalog",
                  "type": "object",
                  "allOf": [
                    {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/Repository.schema.json",
                      "title": "Repository",
                      "description": "An OSS repository from the catalog",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "readOnly": true
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL van de broncode repository.",
                          "examples": [
                            "https://github.com/developer-overheid-nl/don-site"
                          ]
                        },
                        "organisation": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "$id": "https://example.com/OrganisationSummary.schema.json",
                          "title": "Organisation summary",
                          "description": "An organisation from the catalog",
                          "type": "object",
                          "properties": {
                            "uri": {
                              "$schema": "https://json-schema.org/draft/2020-12/schema",
                              "$id": "https://example.com/OrganisationUri.schema.json",
                              "title": "Organisation URI",
                              "description": "The unique identifier for an organisation",
                              "type": "string",
                              "format": "uri",
                              "examples": [
                                "https://developer.overheid.nl"
                              ]
                            },
                            "label": {
                              "description": "The label of the organisation",
                              "type": "string",
                              "examples": [
                                "developer.overheid.nl"
                              ]
                            }
                          },
                          "required": [
                            "uri",
                            "label"
                          ]
                        },
                        "publicCodeUrl": {
                          "type": "string",
                          "description": "Url van publiccode.yaml in de repository."
                        },
                        "shortDescription": {
                          "type": "string",
                          "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "name": {
                          "type": "string",
                          "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "lastCrawledAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "clientCredentials": [
              "repositories:write"
            ]
          }
        ]
      }
    },
    "/repositories/_search": {
      "get": {
        "tags": [
          "Public endpoints",
          "Repositories"
        ],
        "summary": "Search repositories",
        "description": "Geeft een lijst terug met OSS repositories die in het register zijn opgenomen.",
        "operationId": "searchRepositories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "organisation",
            "in": "query",
            "required": false,
            "description": "Filter on organisation URI.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              },
              "Link": {
                "description": "Links to the previous, next, last or first pages",
                "schema": {
                  "type": "string",
                  "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
                  "externalDocs": {
                    "description": "W3C reference",
                    "url": "https://www.w3.org/wiki/LinkHeader"
                  }
                }
              },
              "Total-Count": {
                "description": "Total number of items available",
                "schema": {
                  "type": "integer",
                  "example": 124
                }
              },
              "Current-Page": {
                "description": "Current page number",
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              },
              "Per-Page": {
                "description": "Number of items per page",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "Total-Pages": {
                "description": "Total number of pages available",
                "schema": {
                  "type": "integer",
                  "example": 13
                }
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/Repository.schema.json",
                    "title": "Repository",
                    "description": "An OSS repository from the catalog",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL van de broncode repository.",
                        "examples": [
                          "https://github.com/developer-overheid-nl/don-site"
                        ]
                      },
                      "organisation": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationSummary.schema.json",
                        "title": "Organisation summary",
                        "description": "An organisation from the catalog",
                        "type": "object",
                        "properties": {
                          "uri": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "$id": "https://example.com/OrganisationUri.schema.json",
                            "title": "Organisation URI",
                            "description": "The unique identifier for an organisation",
                            "type": "string",
                            "format": "uri",
                            "examples": [
                              "https://developer.overheid.nl"
                            ]
                          },
                          "label": {
                            "description": "The label of the organisation",
                            "type": "string",
                            "examples": [
                              "developer.overheid.nl"
                            ]
                          }
                        },
                        "required": [
                          "uri",
                          "label"
                        ]
                      },
                      "publicCodeUrl": {
                        "type": "string",
                        "description": "Url van publiccode.yaml in de repository."
                      },
                      "shortDescription": {
                        "type": "string",
                        "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                      },
                      "name": {
                        "type": "string",
                        "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "lastCrawledAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/repositories/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the resource.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "repositories:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "Repositories"
        ],
        "summary": "Get repository by id",
        "description": "Geeft één OSS repository terug op basis van het id.",
        "operationId": "getRepositoryById",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/Repository.schema.json",
                  "title": "Repository",
                  "description": "An OSS repository from the catalog",
                  "type": "object",
                  "allOf": [
                    {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/Repository.schema.json",
                      "title": "Repository",
                      "description": "An OSS repository from the catalog",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "readOnly": true
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL van de broncode repository.",
                          "examples": [
                            "https://github.com/developer-overheid-nl/don-site"
                          ]
                        },
                        "organisation": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "$id": "https://example.com/OrganisationSummary.schema.json",
                          "title": "Organisation summary",
                          "description": "An organisation from the catalog",
                          "type": "object",
                          "properties": {
                            "uri": {
                              "$schema": "https://json-schema.org/draft/2020-12/schema",
                              "$id": "https://example.com/OrganisationUri.schema.json",
                              "title": "Organisation URI",
                              "description": "The unique identifier for an organisation",
                              "type": "string",
                              "format": "uri",
                              "examples": [
                                "https://developer.overheid.nl"
                              ]
                            },
                            "label": {
                              "description": "The label of the organisation",
                              "type": "string",
                              "examples": [
                                "developer.overheid.nl"
                              ]
                            }
                          },
                          "required": [
                            "uri",
                            "label"
                          ]
                        },
                        "publicCodeUrl": {
                          "type": "string",
                          "description": "Url van publiccode.yaml in de repository."
                        },
                        "shortDescription": {
                          "type": "string",
                          "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "name": {
                          "type": "string",
                          "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "lastCrawledAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Resource does not exist",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "clientCredentials": [
              "repositories:write"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "Repositories"
        ],
        "summary": "Specifieke repository updaten",
        "description": "Specifieke repository updaten",
        "operationId": "updateRepository",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "$id": "https://example.com/Repository.schema.json",
                "title": "Repository",
                "description": "An OSS repository from the catalog",
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL van de broncode repository.",
                    "examples": [
                      "https://github.com/developer-overheid-nl/don-site"
                    ]
                  },
                  "organisationUri": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/OrganisationSummary.schema.json",
                    "title": "Organisation summary",
                    "description": "An organisation from the catalog",
                    "type": "object",
                    "properties": {
                      "uri": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationUri.schema.json",
                        "title": "Organisation URI",
                        "description": "The unique identifier for an organisation",
                        "type": "string",
                        "format": "uri",
                        "examples": [
                          "https://developer.overheid.nl"
                        ]
                      },
                      "label": {
                        "description": "The label of the organisation",
                        "type": "string",
                        "examples": [
                          "developer.overheid.nl"
                        ]
                      }
                    },
                    "required": [
                      "uri",
                      "label"
                    ]
                  },
                  "publicCodeUrl": {
                    "type": "string",
                    "description": "Url van publiccode.yaml in de repository."
                  },
                  "shortDescription": {
                    "type": "string",
                    "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                  },
                  "name": {
                    "type": "string",
                    "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  },
                  "lastCrawledAt": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/Repository.schema.json",
                  "title": "Repository",
                  "description": "An OSS repository from the catalog",
                  "type": "object",
                  "allOf": [
                    {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/Repository.schema.json",
                      "title": "Repository",
                      "description": "An OSS repository from the catalog",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "readOnly": true
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL van de broncode repository.",
                          "examples": [
                            "https://github.com/developer-overheid-nl/don-site"
                          ]
                        },
                        "organisation": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "$id": "https://example.com/OrganisationSummary.schema.json",
                          "title": "Organisation summary",
                          "description": "An organisation from the catalog",
                          "type": "object",
                          "properties": {
                            "uri": {
                              "$schema": "https://json-schema.org/draft/2020-12/schema",
                              "$id": "https://example.com/OrganisationUri.schema.json",
                              "title": "Organisation URI",
                              "description": "The unique identifier for an organisation",
                              "type": "string",
                              "format": "uri",
                              "examples": [
                                "https://developer.overheid.nl"
                              ]
                            },
                            "label": {
                              "description": "The label of the organisation",
                              "type": "string",
                              "examples": [
                                "developer.overheid.nl"
                              ]
                            }
                          },
                          "required": [
                            "uri",
                            "label"
                          ]
                        },
                        "publicCodeUrl": {
                          "type": "string",
                          "description": "Url van publiccode.yaml in de repository."
                        },
                        "shortDescription": {
                          "type": "string",
                          "description": "Beschrijving van de repository afkomstig uit de git-hosting (bijvoorbeeld de repository description). Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "name": {
                          "type": "string",
                          "description": "naam van de repository afkomstig uit de git-hosting. Wordt gebruikt als alternatief wanneer geen publiccode.yaml beschikbaar is."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "lastCrawledAt": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          },
          "404": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Resource does not exist",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organisations": {
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "organisations:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "Organisations"
        ],
        "summary": "Alle organisaties ophalen",
        "description": "Alle organisaties ophalen",
        "operationId": "listOrganisations",
        "responses": {
          "200": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/OrganisationSummary.schema.json",
                    "title": "Organisation summary",
                    "description": "An organisation from the catalog",
                    "type": "object",
                    "properties": {
                      "uri": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "$id": "https://example.com/OrganisationUri.schema.json",
                        "title": "Organisation URI",
                        "description": "The unique identifier for an organisation",
                        "type": "string",
                        "format": "uri",
                        "examples": [
                          "https://developer.overheid.nl"
                        ]
                      },
                      "label": {
                        "description": "The label of the organisation",
                        "type": "string",
                        "examples": [
                          "developer.overheid.nl"
                        ]
                      }
                    },
                    "required": [
                      "uri",
                      "label"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "clientCredentials": [
              "organisations:write"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "Organisations"
        ],
        "summary": "Organisatie aanmaken",
        "description": "Maak een nieuwe organisatie aan.",
        "operationId": "createOrganisation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "$id": "https://example.com/OrganisationSummary.schema.json",
                "title": "Organisation summary",
                "description": "An organisation from the catalog",
                "type": "object",
                "properties": {
                  "uri": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "$id": "https://example.com/OrganisationUri.schema.json",
                    "title": "Organisation URI",
                    "description": "The unique identifier for an organisation",
                    "type": "string",
                    "format": "uri",
                    "examples": [
                      "https://developer.overheid.nl"
                    ]
                  },
                  "label": {
                    "description": "The label of the organisation",
                    "type": "string",
                    "examples": [
                      "developer.overheid.nl"
                    ]
                  }
                },
                "required": [
                  "uri",
                  "label"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/Organisation.schema.json",
                  "title": "Organisation",
                  "description": "An organisation from the catalog",
                  "type": "object",
                  "allOf": [
                    {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "$id": "https://example.com/OrganisationSummary.schema.json",
                      "title": "Organisation summary",
                      "description": "An organisation from the catalog",
                      "type": "object",
                      "properties": {
                        "uri": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "$id": "https://example.com/OrganisationUri.schema.json",
                          "title": "Organisation URI",
                          "description": "The unique identifier for an organisation",
                          "type": "string",
                          "format": "uri",
                          "examples": [
                            "https://developer.overheid.nl"
                          ]
                        },
                        "label": {
                          "description": "The label of the organisation",
                          "type": "string",
                          "examples": [
                            "developer.overheid.nl"
                          ]
                        }
                      },
                      "required": [
                        "uri",
                        "label"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "headers": {
              "API-Version": {
                "description": "Semver of this API",
                "schema": {
                  "type": "string",
                  "example": "1.0.0",
                  "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
                  "externalDocs": {
                    "description": " /core/version-header: Return the full version number in a response header",
                    "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
                  }
                }
              }
            },
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://example.com/ProblemJson.schema.json",
                  "title": "Problem JSON",
                  "description": "Problem JSON schema representing errors and status code",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
                      "example": 400
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "example": "Request validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "List of errors encountered during processing",
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "Location of the error (e.g., body, query, header)",
                            "enum": [
                              "body",
                              "query"
                            ]
                          },
                          "location": {
                            "type": "string",
                            "description": "Location in the document where the error occurred (JSON Pointer)",
                            "example": "#/foo[0]/bar"
                          },
                          "code": {
                            "type": "string",
                            "description": "A code representing the type of error",
                            "example": "date.format"
                          },
                          "detail": {
                            "type": "string",
                            "description": "A detailed message describing the error",
                            "example": "must be ISO 8601"
                          }
                        },
                        "required": [
                          "in",
                          "location",
                          "code",
                          "detail"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "title"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header"
      },
      "clientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "apis:read": "Read access to APIs",
              "apis:write": "Write access to APIIs",
              "organisations:read": "Read access to organisations",
              "organisations:write": "Write access to organisations",
              "tools": "Access to tools",
              "repositories:read": "Read access to repositories",
              "repositories:write": "Write access to repositories",
              "gitOrganisations:read": "Read access to git organisations",
              "gitOrganisations:write": "Write access to git organisations"
            },
            "tokenUrl": "https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (1-based).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "perPage": {
        "name": "perPage",
        "in": "query",
        "required": false,
        "description": "Number of results per page.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "organisation": {
        "name": "organisation",
        "in": "query",
        "required": false,
        "description": "Filter on organisation URI.",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "q": {
        "name": "q",
        "in": "query",
        "required": true,
        "description": "Search term.",
        "schema": {
          "type": "string"
        }
      },
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the resource.",
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "API-Version": {
        "description": "Semver of this API",
        "schema": {
          "type": "string",
          "example": "1.0.0",
          "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
          "externalDocs": {
            "description": " /core/version-header: Return the full version number in a response header",
            "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
          }
        }
      },
      "Link": {
        "description": "Links to the previous, next, last or first pages",
        "schema": {
          "type": "string",
          "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
          "externalDocs": {
            "description": "W3C reference",
            "url": "https://www.w3.org/wiki/LinkHeader"
          }
        }
      },
      "Total-Count": {
        "description": "Total number of items available",
        "schema": {
          "type": "integer",
          "example": 124
        }
      },
      "Current-Page": {
        "description": "Current page number",
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "Per-Page": {
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "Total-Pages": {
        "description": "Total number of pages available",
        "schema": {
          "type": "integer",
          "example": 13
        }
      }
    },
    "schemas": {
      "OrganisationUri.schema": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://example.com/OrganisationUri.schema.json",
        "title": "Organisation URI",
        "description": "The unique identifier for an organisation",
        "type": "string",
        "format": "uri",
        "examples": [
          "https://developer.overheid.nl"
        ]
      },
      "OrganisationSummary.schema": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://example.com/OrganisationSummary.schema.json",
        "title": "Organisation summary",
        "description": "An organisation from the catalog",
        "type": "object",
        "properties": {
          "uri": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "$id": "https://example.com/OrganisationUri.schema.json",
            "title": "Organisation URI",
            "description": "The unique identifier for an organisation",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://developer.overheid.nl"
            ]
          },
          "label": {
            "description": "The label of the organisation",
            "type": "string",
            "examples": [
              "developer.overheid.nl"
            ]
          }
        },
        "required": [
          "uri",
          "label"
        ]
      },
      "GitOrganisationUrl.schema": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
[...]
